<!DOCTYPE html>


<html>
  <head>
    <meta charset="UTF-8">
      <title> TWC MENU SELECTOR WEBAPP!! </title>
      <!-- viewport makes it look nice on mobile devices.-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- download font type from google fonts.-->
      <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
      <!-- CSS file to load.-->
      <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    <h2 style ="background-color:#9C27B0; color:#80CBC4; margin: 0 height: 50px">
      Welcome to the TWC MENU WEBAPP!!!!!!!!
    </h2>
    </h1>
      <div class = "mainlinkss">
        <nav class="menu">
          <span class="navlink" ><a href="/">HOME</a></span>
          <span class="navlink" ><a href="/menu_form">Input New Menu Item </a></span>
          <span class="navlink" ><a href="/truck_select">Truck Selection page</a></span>
       </nav>
      </div>
        
        <br>
        <br>
        <br>

        {% block content%}
        {% endblock %}



<br>
<br>

 <section class="links"> <!-- Links Section -->
    <div class="lesson">
      <h2> Helpful Links </h2>
        <div class="lesson_box">
          <br>
          <div class="lesson_title">
             TWC Links 
        </div>
          <ul>
              <li> <a href="http://www.instrucktional.com"> Instrucktional </a></li>
              <li> <a href="http://www.thewholecart.com/"> The Whole Cart </a> </li>
              <li> <a href="http://offthegridsf.com/"> Off The Grid </a>
              <li> <a href="https://www.google.com/design/spec/style/color.html#color-color-palette"> Google Design Style-Color Reference  </a> </li>
              <li> <a href="https://design.google.com/videos/palette-perfect/"> Google Design Palette Perfect - Video Clip  </a> </li> 
              
              <li> <a href="https://cloud.google.com/appengine/docs/python/ndb/queries"> Google NDB queries for Cloud Datastore </a> </li>                     
          </ul>
        </div>       
    </div>
</section>
 <footer>
  <div>
    <p>
      <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!" />
      </a>
    </p>
  </div>
 </footer>
  </body>



    </body>


</html>




